$primary: #3eb649;
$light: #a7ddad;



.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

// .navbar-brand img {
//   width: 200px;
// }

.carousel-caption h1 {
font-size: 100px;
// color: #522192;
}

.card {
  border: #fff;
}


@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";